{
  "configs" : [
    {
      "active" : false,
      "className" : "com.wyett.plugin.CountTimesPlugin",
      "id" : "1",
      "jarRemoteUrl" : "file:E:/mycode/mygit/wyett-aop-ioc/spring-mvc-plugin-management/src/main/resources/config/spring-plugin-1.0-SNAPSHOT.jar",
      "name" : "统计方法调用次数"
    }, {
      "active" : false,
      "className" : "com.wyett.plugin.MethodInvokeLogPlugin",
      "id" : "2",
      "jarRemoteUrl" : "file:E:/mycode/mygit/wyett-aop-ioc/spring-mvc-plugin-management/src/main/resources/config/spring-plugin-1.0-SNAPSHOT.jar",
      "name" : "方法调用信息"
    }
  ],
  "name" : "插件库"
}